<div class="" id="about">
  <div class="">
      <p>WHO AM I ?</p>
  </div>
  <div class="">
    <h2>ABOUT ME</h2>
  </div>
  <div class="lastdiv">
    <p class="pcolor1">Hi I'm Ayush. currently I am pursuing my bachelor's degree. As a undergraduate,I am searching for a job in a reputed company,
       like yours, where I can improve my skills and knowledge as well as learn something more from my carrier and work experience
       and also have expertise with Angular9, Angular Material, Nodejs, Expressjs, Java, Front End and digital marketing.
      Done few projects and portfolio work in above.</p>
      <p class="pcolor2"> Lover of innovation and everything related to generate new knowledge and kin to learn new skill. Face problems with a smile and solve them as soon as
      possible. Very calculated about the time I spend and work I do.</p>
  </div>

</div>
