<div class="container Contact" id="contact">
  <div class="">
    <p>GET IN TOUCH</p>
  </div>
  <div class="">
    <h2>CONTACT</h2>
  </div>

  <div class=" contactInfo">
    <div class="row ">
      <div class="col-2">
        <img src="assets/Images/name.png" alt="Image">
      </div>
      <div class="col-5">
        <p>Ayush</p>
      </div>
    </div>
  </div>
<hr>
  <div class=" contactInfo">
    <div class="row ">
      <div class="col-2">
        <img src="assets/Images/scientist.png" alt="Image">
      </div>
      <div class="col-5">
        <p class="jobs">Fresher</p>
        <p class="jobs">Seeking for a job</p>
      </div>
    </div>
  </div>
<hr>
    <div class=" contactInfo">
      <div class="row ">
        <div class="col-2">
          <img src="assets/Images/mail.png" alt="Image">
        </div>
        <div class="col-5 t1">
          <a href="https://www.gmail.com">ayushrajput102@gmail.com</a>
        </div>
      </div>
    </div>
<hr>
      <div class=" contactInfo">
        <div class="row ">
          <div class="col-2">
            <img src="assets/Images/phone.png" alt="Image">
          </div>
          <div class="col-5 t1">
            <a href="tel://">+91 8860211720</a>
          </div>
        </div>
      </div>
</div>
