<div class="" id="youtubechannel">
  <div class="">
    <p>YOUTUBE CHANNEL</p>
  </div>
  <div class="">
    <h2>ENGLISH EXCELLENCY</h2>
    <a href="https://www.youtube.com/channel/UC5Uu_Sv5gpha6FhV0zdHzyA"><button class="mainbut" mat-raised-button type="button" name="button">Visit Channel</button></a>
    <p>Some playlist of the channel</p>
  </div>

  <div class="container last">
    <div class="row">
      <div class="col-md-4">
        <div class="card verb" style="width: 18rem;">
<img class="card-img-top" src="assets/Images/verb.png" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">Verbs</h5>
  <p class="card-text">The three basic forms. Main verbs have three basic forms: the base form, the past form and the -ed form
     (sometimes called the '-ed participle')</p>
</div>
</div>

      </div>

      <div class="col-md-4">
          <div class="card gram" style="width: 18rem;">
  <img class="card-img-top" src="assets/Images/grap.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Grammatical Points</h5>
    <p class="card-text">In English grammar,The grammatical points or meaning of a sentence is dependent on the structural
       organization, which is also called syntax.</p>
  </div>
</div>
      </div>

      <div class="col-md-4">
        <div class="card tense" style="width: 18rem;">
<img class="card-img-top" src="assets/Images/tense.png" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">Tenses</h5>
  <p class="card-text">The tense of a verb tells you when a person did something or when something existed or happened. In English ,
    there are three main tenses: the present, the past, and the future.</p>
</div>
</div>
      </div>

    </div>
  </div>
</div>
