<div class="" id="certificate">
  <div class="">
      <p>DOCUMENTS</p>
  </div>
  <div class="">
    <h2>CERTIFICATES</h2>
  </div>

  <div class=" last">
  <mat-vertical-stepper class="matstep">
    <mat-step label="Problem Solving (Basic)">
      <div class="row">
        <div class="col-11">
          <ul>
            <li>Successfully cleared the assessment for the skill from HackerRank</li>
          </ul>
        </div>
        <div class="col-1">
          <img src="assets/Images/8.png" alt="Logo">
        </div>
      </div>
      <button mat-raised-button color="primary" matStepperNext style="float:'right'">Next</button>
    </mat-step>
        <mat-step label="Responsive Website Basics: Code with HTML, CSS and JavaScript">
          <div class="row">
            <div class="col-11">
              <ul>
                <li>Completed certification in HTML,CSS and JavaScript from University of London through Coursera</li>
              </ul>
            </div>
            <div class="col-1">
              <img src="assets/Images/london.png" alt="Logo">
            </div>
          </div>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext style="float:'right'">Next</button>
        </mat-step>

        <mat-step label="The Fundamentals of Digital Marketing">
          <div class="row">
            <div class="col-11">
              <ul>
                <li>Completed certification in digital marketing from Google digital unlocked</li>
              </ul>
            </div>
            <div class="col-1">
              <img src="assets/Images/google.png" alt="Logo">
            </div>
          </div>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext style="float:'right'">Next</button>
        </mat-step>

        <mat-step   label="Angular Material with Angular 9">
          <div class="row">
            <div class="col-11">
              <ul>
                <li>Completed certification in angular material with angular 9 from Udemy</li>
              </ul>
            </div>
            <div class="col-1">
              <img src="assets/Images/udemy.png" alt="Logo">
            </div>
          </div>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        </mat-step>
  </mat-vertical-stepper>
  </div>


</div>
