<div class="" id="skill">
  <div class="pad">
    <div class="d4">
        <p>MY SPECIALTY</p>
    </div>
    <div class="d4">
      <h2>MY SKILLS</h2>
    </div>
    <div class="d4">
      <p>Here are some of my skills in which I am good to work and comfortable.</p>
    </div>
  </div>

  <div class="d4">
    <div class="row">
      <div class="col-md-6">
        <span>Java</span>
        <span class="skillpercent">80%</span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
      </div>
      <br><br>
      <div class="leftskill col-md-6">
        <span>HTML5</span>
        <span class="skillpercent">90%</span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </div>
      <br><br>
      <div class="col-md-6">
        <span>JavaScript,jQuery</span>
        <span class="skillpercent">75%</span>
        <mat-progress-bar mode="determinate" value="75" color="warn"></mat-progress-bar>
      </div>
      <br><br>
      <div class="leftskill col-md-6">
        <span>CSS3,Bootstrap3</span>
        <span class="skillpercent">85%</span>
        <mat-progress-bar mode="determinate" value="85" color="warn"></mat-progress-bar>
      </div>
      <br><br>
      <div class="col-md-6">
        <span>Github</span>
        <span class="skillpercent">79%</span>
        <mat-progress-bar mode="determinate" value="79"></mat-progress-bar>
      </div>
      <br><br>
      <div class="leftskill col-md-6">
        <span>Node.js,Express.js</span>
        <span class="skillpercent">77%</span>
        <mat-progress-bar mode="determinate" value="77"></mat-progress-bar>
      </div>
      <br><br>
      <div class="last col-md-6">
        <span>Angular9,Angular Material</span>
        <span class="skillpercent">66%</span>
        <mat-progress-bar mode="determinate" value="66" color="warn"></mat-progress-bar>
      </div>
      <br><br>
      <div class="last leftskill col-md-6">
        <span>Digital Marketing</span>
        <span class="skillpercent">70%</span>
        <mat-progress-bar mode="determinate" value="70" color="warn"></mat-progress-bar>
      </div>

    </div>
  </div>


</div>
