
<div class="container">
  <mat-sidenav-container>
    <mat-sidenav opened mode="over" #side><app-left-nav></app-left-nav></mat-sidenav>
    <mat-sidenav-content>
    <!--  <a mat-button (click)="open=!open"><i class="material-icons">menu</i></a> -->
      <a class="burger" mat-button (click)="side.toggle()"><i class="material-icons">menu</i></a>
      <app-home></app-home>
      <hr>
      <app-about></app-about>
      <hr>
      <app-education></app-education>
      <hr>
      <app-internship></app-internship>
      <hr>
      <app-project></app-project>
      <hr>
      <app-skills></app-skills>
      <hr>
      <app-certificate></app-certificate>
      <hr>
      <app-youtube></app-youtube>
      <hr>
      <app-contact></app-contact>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
