<div class="" id="project">
  <div class="">
    <p>MY WORK</p>
  </div>
  <div class="">
    <h2>RECENT PROJECTS</h2>
  </div>

  <div class="">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p1" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/covidApp.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Covid-App</h4>
          <h5 class="card-text">Technology :</h5>
          <p class="card-text">Angular9, Angular Material, Bootstrap</p>
           <a href="#"><button  mat-raised-button type="button" name="button">See Project</button></a>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p1" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/port.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio</h4>
          <h5 class="card-text">Technology :</h5>
          <p class="card-text">Angular9, Angular Material, Bootstrap</p>
           <a href="#"><button  mat-raised-button type="button" name="button">See Project</button></a>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p1" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/todo.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">To-Do List</h4>
          <h5 class="card-text">Technology :</h5>
          <p class="card-text">HTML5, CSS3, Bootstrap3, Nodejs, Expressjs, Mongodb</p>
           <a href="https://salty-gorge-67894.herokuapp.com/"><button  mat-raised-button type="button" name="button">See Project</button></a>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p1 last" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/blogs.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Daily Blogs</h4>
          <h5 class="card-text">Technology :</h5>
          <p class="card-text">HTML5, CSS3, Bootstrap3, Nodejs, Expressjs, Mongodb</p>
           <a href="https://arcane-waters-64578.herokuapp.com/"><button  mat-raised-button type="button" name="button">See Project</button></a>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p1" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/stock.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Stock Market WebApp</h4>
          <h5 class="card-text">Technology :</h5>
          <p class="card-text">HTML5, CSS3, Bootstrap3, Nodejs, Expressjs</p>
           <a href="https://lit-basin-12788.herokuapp.com/"><button  mat-raised-button type="button" name="button">See Project</button></a>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p1" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/weather.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Weather Report WebApp</h4>
          <h5 class="card-text">Technology :</h5>
          <p class="card-text">HTML5, CSS3, Bootstrap3, Nodejs, Expressjs</p>
           <a href="https://blooming-bastion-07518.herokuapp.com/"><button  mat-raised-button type="button" name="button">See Project</button></a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
