<div class="container" id="home">
  <img src="assets/Images/profile.png" alt="ayush"/>
  <p class="first">Hello, I am</p>
  <h1>Ayush</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="last">It is never done until it is fast, responsive, and correct. But if you can't be fast, at least be responsive. If
           you still can't be responsive, at least be correct! Designing a website is not a thing you do. It's a way of life.</p>
      </div>
    </div>
  </div>
</div>
